<?php require_once __DIR__ . '/_header.php'; ?>

<div class="two-button-frame">
    <button name="o2-table" id="o2-table" class="btn btn-big btn-white">O2 table</button>
    <button name="co2-table" id="co2-table" class="btn btn-big btn-white">CO2 table</button>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js">
    var o2_table = document.getElementById("o2-table");
    o2_table.onclick = function () {
            console.log('aa');
            // loginModal.style.display = "block";
        }
$(window).load(function()
{
    $('body').on('click', function()
    {
        console.log('a');
    });
    console.log('are');
    $('#o2-table').on('click', show_o2_table);

    $('#co2-table').on('click', function()
    {
        console.log('disu');
        show_co2_table();
    });
});

// <table class="styled-table">
//     <thead>
//         <tr>
//             <th>Name</th>
//             <th>Points</th>
//         </tr>
//     </thead>
//     <tbody>
//         <tr>
//             <td>Dom</td>
//             <td>6000</td>
//         </tr>
//         <tr class="active-row">
//             <td>Melissa</td>
//             <td>5150</td>
//         </tr>
//         <!-- and so on... -->
//     </tbody>
// </table>



function show_o2_table() {
    let table = $('<table class="styled-table">');
    let head = $('<thead>');
    let row = $('<tr>');
    row.append($('<th>Name</th>'));
    row.append($('<th>Points</th>'));
    table.append(row);
    row = $('<tr>');
    $('body').append(table);
    console.log(table);
}
</script>


<?php require_once __DIR__ . '/_footer.php'; ?>